<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDoctor - Server</title>
    <link href="public/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon" />
  </head>
  <body id="body">
    <script src="public/script.js"></script>
    <div class="container">
      <div class="theme">
        <button onclick="switchTheme()" id="theme-switch-button">
          <i id="theme-icon" class="fa-solid fa-sun"></i>
        </button>
        <button onclick="exportAsPdf()" id="theme-switch-button">
          <i class="fa-solid fa-file-pdf"></i>
        </button>
      </div>
      <div class="line"></div>
      <div id="md-content">
        %s
      </div>
    </div>
  </body>
</html>
